<div class="container-fluid">
    <div class="card edit-detail">
        <header class="card-header">
            <p class="card-header-title">
                Gäste aus einem Haushalt
            </p>
        </header>
        <!-- Editing Visit data -->
        <div class="card-content">
            <div class="content">

                <form autocomplete="off" novalidate #form="ngForm">
                    <!-- Name -->
                    <div class="row pl-3">
                        <div class="mt-3 col col-12 col-lg-5">
                            <label class="label" for="name">Vorname und Name*: </label>
                            <input type="text" name="name" class="form-control" placeholder="Vorname Name" required
                                [(ngModel)]="editingVisit.name">
                        </div>

                        <!-- spacing between columns -->
                        <div class="col col-12 col-lg-2">
                        </div>

                        <div class="col col-12 col-lg-5 pr-5">
                            <div class="mt-3">
                                <label for="phone">Telefonnummer*: </label>
                                <input type="number" name="phone" class="form-control" placeholder="Telefonnummer"
                                    required [(ngModel)]="editingVisit.phone">
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row pl-3">
                        <div class="col col-12 col-lg-5">
                            <!-- date of visit -->
                            <div>
                                <label for="date">Datum*:</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="dd-mm-yyyy" name="date" [(ngModel)]="model"
                                        ngbDatepicker #d="ngbDatepicker" [(ngModel)]="editingVisit.date">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                            type="button"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- spacing between columns -->
                        <div class="col col-12 col-lg-2">
                        </div>

                        <div class="col col-12 col-lg-5  pr-5">
                            <!-- time of visit -->
                            <label for="arrivalTime">Uhrzeit Ankunft*:</label>
                            <input type="time" name="arrivalTime" class="form-control" placeholder="Uhrzeit Ankunft"
                                required [(ngModel)]="editingVisit.arrivalTime">
                        </div>
                    </div>

                    <div class="row pl-3">
                        <div class="col col-12 col-lg-5">
                            <!-- Tablenumber -->
                            <div class="mt-3">
                                <label class="label" for="tableNumber">Tischnummer:</label>
                                <input type="number" name="tableNumber" class="form-control" placeholder="Tischnummer"
                                    [(ngModel)]="editingVisit.tableNumber">
                            </div>
                        </div>

                        <!-- spacing between columns -->
                        <div class="col col-12 col-lg-2">
                        </div>

                        <div class="col col-12 col-lg-5  pr-5">
                            <!-- time of visit -->
                            <label for="leavingTime">Uhrzeit Abreise*: </label>
                            <input type="time" name="leavingTime" class="form-control" placeholder="Uhrzeit Ende"
                                required [(ngModel)]="editingVisit.leavingTime">
                        </div>
                    </div>

                    <hr />

                    <!-- email -->
                    <div class="row pl-3">
                        <div class="col col-12 col-lg-5">
                            <label class="label" for="email">E-Mail Adresse: </label>
                            <input type="email" name="email" class="form-control" placeholder="example@mail.com" required
                                [(ngModel)]="editingVisit.email">
                        </div>

                        <!-- spacing between columns -->
                        <div class="col col-12 col-lg-2">
                        </div>

                        <div class="col col-12 col-lg-5  pr-5">
                            <!-- number of visitors -->
                            <label for="numberOfVisitors">Anzahl der Besucher*: </label>
                            <input type="number" name="numberOfVisitors" class="form-control"
                                placeholder="1-10" required
                                [(ngModel)]="editingVisit.numberOfVisitors">
                        </div>
                    </div>

                    <hr />

                    <div class="row pl-3">
                        <div class="col col-12 col-lg-4">
                            <!-- street -->
                            <div class="my-3">
                                <label for="street">Straße und Hausnummer:</label>
                                <input type="text" name="street" class="form-control" placeholder="Straße Hausnummer"
                                    [(ngModel)]="editingVisit.street">
                            </div>
                        </div>

                        <div class="col col-12 col-lg-4">
                            <!-- plz -->
                            <div class="my-3">
                                <label for="plz">PLZ: </label>
                                <input type="number" name="plz" class="form-control" placeholder="PLZ"
                                    [(ngModel)]="editingVisit.plz">
                            </div>
                        </div>

                        <div class="col col-12 col-lg-4 pr-5">
                            <!-- city -->
                            <div class="my-3">
                                <label for="city">Wohnort:</label>
                                <input type="text" name="city" class="form-control" placeholder="Wohnort"
                                    [(ngModel)]="editingVisit.city">
                            </div>
                        </div>
                    </div>

                    <hr />

                    <p class="mx-3">
                        Mit * markierte Felder sind Pflichtfelder.
                    </p>

                    <div class="row my-5 pl-3">
                        <span class="mx-3">
                            Die hier aufgenommenen Daten werden vertraulich und lediglich für die ggf. nötige,
                            hilfreiche
                            Nachverfolgung von
                            Infektionsketten im Zusammenhang mit der Corona-Pandemie aufgenommen, maximal vier Wochen
                            gesichert im Hause
                            aufbewahrt und nur auf Anfrage an das zuständige Gesundheitsamt weitergegeben.
                        </span>
                    </div>

                    <button  type="button" [disabled]="form.form.invalid || editingVisit.name === ''" class="float-right button-primary"
                        (click)="saveVisit()">
                        Save
                    </button>
                    <button class="float-right button-primary" (click)="clear()">
                        Cancel
                    </button>

                    <!--                     <footer class="card-footer">
                        <app-button-footer class="card-footer-item" [className]="'cancel-button'"
                            [iconClasses]="'fas fa-undo'" (clicked)="clear()" label="Cancel" [item]="editingVisit">
                        </app-button-footer>
                        <app-button-footer class="card-footer-item" [className]="'save-button'"
                            [iconClasses]="'fas fa-save'" (clicked)="saveVisit()" label="Save" [item]="editingVisit"
                            [disabled]="!form.valid"></app-button-footer>
                    </footer> -->

                </form>
            </div>
        </div>
    </div>
</div>