<div class="card-content">
  <div class="content">
    <div class="name">Name: {{ name }}</div>
    <div class="description">Phone: {{ phone }}</div>
    <div class="description">Date: {{ date }}</div>
    <div class="description">Zeit: {{ arrivalTime }} - {{ leavingTime }}</div>
    <div class="description">Tisch: {{ tablenumber }}</div>
    <div class="description">Straße: {{ street }}</div>
    <div class="description">PLZ: {{ plz }} City: {{ city }}</div>
    <div class="description">E-Mail: {{ email }}</div>
  </div>
</div>
