<div class="navbar-brand">
  <a class="navbar-item" rel="noopener noreferrer">

    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 242.6 355.1" style="enable-background:new 0 0 242.6 355.1;" xml:space="preserve" class="ds-logo">
      <g>
        <g>
          <rect x="31.8" y="228.6" transform="matrix(0.4352 -0.9003 0.9003 0.4352 -158.6294 219.2844)" width="127.4"
            height="14.9" />
        </g>
        <g>
          <rect x="83.5" y="228.7" transform="matrix(0.4347 -0.9006 0.9006 0.4347 -129.4051 266.0876)" width="127.5"
            height="14.9" />
        </g>
        <path d="M201.9,331.7H40.7c-8.2,0-14.9-6.7-14.9-14.9V38.3c0-8.2,6.7-14.9,14.9-14.9h161.1c8.2,0,14.9,6.7,14.9,14.9v278.5
		C216.8,325,210.1,331.7,201.9,331.7z M201.8,38.3l-161.1,0l0,278.5l161.1,0L201.8,38.3z" />
      </g>
    </svg>

  </a>
  <a class="navbar-item nav-home pl-3" router-link="/">
    <span class="brand-second">//</span>
    <span class="brand-third">VISITS</span>
  </a>
</div>